In [6]:
#For interarrival time
from scipy.stats import *
inter_a_time = poisson.rvs(mu=5.6, size=20)
from operator import add
import numpy as np

In [ ]:
inter_a_time[0]=0
print(inter_a_time)

In [3]:
#For service time
data_expon = expon.rvs(scale=0.5,loc=5,size=20)

In [19]:
service_time=[round(data_expon,2) for data_expon in data_expon]

In [ ]:
print(service_time)

In [ ]:
#For Arrival Time
a_time=[]
j=0
for i in range(0,len(inter_a_time)):
    j+=inter_a_time[i]
    a_time.append(j)
     
print(a_time)

In [ ]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
d = {'customer no': [1, 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
     
     }
df = pd.DataFrame(data=d)
df
df["Interarrival Time"]=inter_a_time
df
df["Arrival Time"] = a_time
df

In [37]:
#For Time Service End
time_s_end = []
for i in range(0, len(a_time)):
  tse=a_time[i]+service_time[i]
  time_s_end.append(tse)

In [ ]:
print (time_s_end)

In [51]:
#For Service time begin
service_time_begin = []
for i in range(0,20):
  if a_time[i]> time_s_end[i-1]:
    service= a_time[i]
  else: service= time_s_end[i-1]
  service_time_begin.append(service)

In [ ]:
service_time_begin[0]=0
print( service_time_begin)

In [54]:
#For waiting time
waiting_time=[]
for i in range(0, 20):
  wt= service_time_begin[i]-a_time[i]
  waiting_time.append(wt)

In [ ]:
print(waiting_time)

In [57]:
#Time spend in the system
spend_in_system=[]
for i in range(0,20):
  ss=service_time[i]+waiting_time[i]
  spend_in_system.append(ss)

In [ ]:
print(spend_in_system)

In [67]:
#For idle time
idle_time=[0]
for i in range(0,19):
  if a_time[i+1]> time_s_end[i]:
    it = a_time[i+1]- time_s_end[i]
  else: it= 0
  idle_time.append(it)

In [ ]:
print(idle_time)

In [69]:
d = {'customer no': [1, 2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
     
     }
df = pd.DataFrame(data=d)
df
df["Interarrival Time"]=inter_a_time
df
df["Arrival Time"] = a_time
df
df["Service Time"] = service_time
df
df["Time Service Begin"] = service_time_begin
df
df["Waiting Time"] = waiting_time
df
df["Time Service End"] = time_s_end
df
df["The Customer Spend time in the system"] = spend_in_system
df
df["Idle Time"] = idle_time
df

    customer no  ...  Idle Time
0             1  ...       0.00
1             2  ...       0.00
2             3  ...       0.00
3             4  ...       5.44
4             5  ...       7.98
5             6  ...       0.00
6             7  ...       0.00
7             8  ...       0.00
8             9  ...       4.68
9            10  ...       0.70
10           11  ...       0.00
11           12  ...       1.15
12           13  ...       4.97
13           14  ...       0.81
14           15  ...       0.00
15           16  ...       0.00
16           17  ...       1.95
17           18  ...       0.94
18           19  ...       0.00
19           20  ...       0.00

[20 rows x 9 columns]

In [70]:
from tabulate import tabulate 


print(tabulate(df, headers='keys', tablefmt='psql'))

+----+---------------+---------------------+----------------+----------------+----------------------+----------------+--------------------+-----------------------------------------+-------------+
|    |   customer no |   Interarrival Time |   Arrival Time |   Service Time |   Time Service Begin |   Waiting Time |   Time Service End |   The Customer Spend time in the system |   Idle Time |
|----+---------------+---------------------+----------------+----------------+----------------------+----------------+--------------------+-----------------------------------------+-------------|
|  0 |             1 |                   0 |              0 |           5.94 |                 0    |           0    |               5.94 |                                    5.94 |        0    |
|  1 |             2 |                   2 |              2 |           5.32 |                 5.94 |           3.94 |               7.32 |                                    9.26 |        0    |
|  2 |             3 |                   4 |              6 |           5.56 |                 7.32 |           1.32 |              11.56 |                                    6.88 |        0    |
|  3 |             4 |                  11 |             17 |           5.02 |                17    |           0    |              22.02 |                                    5.02 |        5.44 |
|  4 |             5 |                  13 |             30 |           6.48 |                30    |           0    |              36.48 |                                    6.48 |        7.98 |
|  5 |             6 |                   1 |             31 |           5.12 |                36.48 |           5.48 |              36.12 |                                   10.6  |        0    |
|  6 |             7 |                   4 |             35 |           6.07 |                36.12 |           1.12 |              41.07 |                                    7.19 |        0    |
|  7 |             8 |                   5 |             40 |           5.32 |                41.07 |           1.07 |              45.32 |                                    6.39 |        0    |
|  8 |             9 |                  10 |             50 |           5.3  |                50    |           0    |              55.3  |                                    5.3  |        4.68 |
|  9 |            10 |                   6 |             56 |           5.77 |                56    |           0    |              61.77 |                                    5.77 |        0.7  |
| 10 |            11 |                   4 |             60 |           5.85 |                61.77 |           1.77 |              65.85 |                                    7.62 |        0    |
| 11 |            12 |                   7 |             67 |           5.03 |                67    |           0    |              72.03 |                                    5.03 |        1.15 |
| 12 |            13 |                  10 |             77 |           5.19 |                77    |           0    |              82.19 |                                    5.19 |        4.97 |
| 13 |            14 |                   6 |             83 |           6.21 |                83    |           0    |              89.21 |                                    6.21 |        0.81 |
| 14 |            15 |                   1 |             84 |           6.08 |                89.21 |           5.21 |              90.08 |                                   11.29 |        0    |
| 15 |            16 |                   6 |             90 |           5.05 |                90.08 |           0.08 |              95.05 |                                    5.13 |        0    |
| 16 |            17 |                   7 |             97 |           5.06 |                97    |           0    |             102.06 |                                    5.06 |        1.95 |
| 17 |            18 |                   6 |            103 |           5.01 |               103    |           0    |             108.01 |                                    5.01 |        0.94 |
| 18 |            19 |                   5 |            108 |           5.15 |               108.01 |           0.01 |             113.15 |                                    5.16 |        0    |
| 19 |            20 |                   5 |            113 |           5.21 |               113.15 |           0.15 |             118.21 |                                    5.36 |        0    |
+----+---------------+---------------------+----------------+----------------+----------------------+----------------+--------------------+-----------------------------------------+-------------+